body{
    font-size:larger;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(99, 88, 64);
}
#ingredients{
    font-size: 15px;
}
main{
    background-color: rgb(199, 185, 163);
    margin: 10px 10px;  
    padding: 5px 5px;
}
header{
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(99, 88, 64);
    text-align: center;
    font-size: 25px;
    color: rgb(253, 252, 252);
}
.characters{
    background-color: rgb(199, 185, 163);
    font-weight: 800;
    border-bottom: 1px solid rgb(99, 88, 64);
}
.button:hover{
    background-color:rgb(99, 88, 64);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

#houses{
    border-bottom: 1px solid rgb(99, 88, 64);

}

#table{
    display: grid;
    margin-top: 20px;
    align-items: center;
    position: center;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
}
#gryffindor, #slytherin, #hufflepuff, #ravenclaw{
    margin-top: 30px;
    width: 250px;
}

#destacarButton{
    background-color:rgb(167, 123, 28);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    #table {
        display: flex;
        flex-wrap: flex;
    }
    #table{
        display: block;
    }
}

#favC{
    background-color: rgb(99, 88, 64);
    position: fixed; 
    margin-top: 50px;
    right: 80px;
}
#favH{
    background-color: rgb(99, 88, 64);
    position: fixed; 
    margin-top: 250px;
    right: 100px;

}

.houseButton{
    background-color:rgb(167, 123, 28);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}